<%= render partial: 'messages/subnav' %>

<% if @notifications.present? %>
  <ol class="comments comments1">
    <% @notifications.each do |notification| %>
      <% case notification.notifiable %>
      <% when Comment %>
      <% comment = notification.notifiable %>
        <li class="comments_subtree">
          <%= render "comments/comment", comment: comment, show_story: true, is_unread: notification.read_at.nil?, show_tree_lines: false %>
        </li>
      <% when Message %>
      <% message = notification.notifiable %>
        <li class="comments_subtree">
          <%= render "message", message: message %>
        </li>
      <% end %>
    <% end %>
  </ol>
<% else %>
  <p class="help">No notifications to show.</p>
<% end %>
