<%= render partial: 'messages/subnav' %>

<% if @notifications.present? %>
  <ol>
    <% @notifications.each do |notification| %>
      <li>
        <% case notification.notifiable %>
        <% when Comment %>
          comment
        <% when Message %>
          message
        <% end %>
      </li>
    <% end %>
  </ol>
<% else %>
  <p class="help">No unread notifications to show.</p>
<% end %>
